.header-logo {

  width: 160px;
  height: 70px;
  background-image: url('../../assets/SEWater.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 100%;
    height: 100%;
  }


}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    width: 30px;
    height: 30px;
  }

  .user-details {
    color: white;
    font-size: 14px;
    margin-left: 10px;

    div+div {
      margin-top: 5px;
    }
  }
}
