.d-flex {
  display: flex;
  justify-content: space-between;
}


.popup-arrow {
  border-top-color: rgb(0, 130, 186) !important;
  border-bottom-color: rgb(0, 130, 186) !important;
}

.popup-content-container {
  max-width: 320px;

  p {
    margin: 0;
  }

  box-shadow: 0px 0px 0px 0px;

  .popup-header {
    padding: 10px;
    background-color: rgb(0, 130, 186);

    .popup-status {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 10px;

      div {
        .status {
          font-weight: 900;
          color: rgba(255, 255, 255, 0.87);
        }

        color: rgb(149, 252, 15);
        font-weight: bold;
      }

      div:nth-child(1) {
        margin-right: 5px;
      }
    }

    h4 {
      font-size: 15px;
      font-weight: bold;
      margin: 0;
      color: white;
    }
  }

  .popup-body {
    padding: 10px;
    color: rgb(0, 0, 0);

    background-color: rgb(228, 228, 228);

    .priority {
      color: rgb(235, 0, 117);
    }

    .popup-date {
      display: flex;
      margin: 5px 0px;
      justify-content: space-between;
    }

    .address {
      white-space: initial;
    }
  }

  .popup-close {
    color: white;
  }

  button {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
  }
}

.clear-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 130, 186);
  padding: 7px;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 102px;
  left: 100px;

  span {
    margin-right: 10px;
    position: relative;
    top: 1px;
  }
}

.alarm-cnt-btn {
  display: flex;
  justify-content: center;
  background-color: #012e51;
  padding: 7px;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 102px;
  left: 250px;

}

.filters {
  display: flex;
  flex-direction: column;
  height: 100%;

  .status {
    .status-label {
      p {
        font-size: 14px;
        font-weight: 500;
      }

      div {
        display: flex;
        align-items: center;

        input {
          margin-left: 5px;
          margin-right: 10px;
        }

        label {
          font-size: 14px;
        }
      }

      div+div {
        margin-top: 10px;
      }
    }
  }

  .date-filters {
    margin-top: 30px;

    p {
      font-size: 14px;
      font-weight: 500;
    }


    input {
      padding: 2px
    }

    button {
      padding: 0px
    }

    .react-datepicker__close-icon::after {
      background: none;
      color: rgb(0, 130, 186);
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }

  .bottom {
    margin-top: auto;
    display: flex;

    .clear {
      border: 1px solid rgb(0, 130, 186);
    }

    justify-content: space-between;
  }
}
