.table-container {
  overflow-y: scroll;
  max-height: 85vh;
}

.responsiveTable {
  border-top: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-spacing: 0;

  thead {
    color: white;
    background-color: rgb(0, 130, 186);
    padding: 10px;
    text-align: left;
  }

  th {
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(0, 130, 186);
    padding: 10px;
    text-align: left;
  }

  th,
  td {
    border-bottom: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    padding: 7px;
    font-size: 15px;
  }

  tr {
    border-top: 1px solid #b3b3b3;
  }
}

.alarms-back {
  display: flex;
  align-items: center;

  span {
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    cursor: pointer;

    svg {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }

}
